html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    animation: fadein 2s;
}

body,
input,
textarea {
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.input {
    padding-left: .25rem;
}

.button {
    padding: 2px;
    padding-left: .25rem;
    padding-right: .25rem;
    color: black;
    background: #e2e2e2;
}

.button:hover {
    background: grey;
    transition: all 1s ease;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.icon-link {
    color: grey;
    padding: 0.5rem;
    text-decoration: none;
}

.icon-link:hover,
.icon-link:active {
    color: black;
    transition: all 1s ease;
}

.social-container {
    height: 0;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-self: center;
    text-decoration: none;
    margin-top: 2rem;
}

.navbar {
    display: flex;
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar>a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar>a:hover,
.navbar>a:active {
    color: black;
    transition: all 1s ease;
}

.content {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 50rem;
    height: 100%;
}

.updates {
    margin-top: 1rem;
    align-self: center;
}

.copyright {
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
}

.small-text {
    font-size: 12px;
    color: grey;
}

.hr {
    display: block;
    min-height: 3px;
    background: black;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.image-text-left-right {
    display: flex;
}

.image-text-left-right p {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}


/*
html, body {
  margin:0;
  padding:0;
  height:100%;
}
body{
  display: flex;
  flex-direction: column;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}
.icon-link {
  color: gray;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 1s ease;
}
.icon-link:hover, .icon-link:active {
  color: black;
}
.active {
  color: black !important;
}
.social-container {
  height: 0;
}
.social {
  display: flex;
  justify-content: flex-end;
}
.logo {
  display: flex;
  align-self: center;
  padding-top: 20px
}
.navbar {
  display: flex;
  align-self: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 15px;
}
.navbar > a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition: all 1s ease;
}
.navbar > a:hover, .navbar > a:active {
  color: black;
}
.content {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 50rem;
  text-indent: 1rem;
  height: 100%;
  padding-top: 15px;
}
.footer {
  display: flex;
  align-self: center;
  margin: 1rem;
  font-size: 12px;
  color: grey;
}
.ph1 {
  padding-top: 30px;
 }
.ph2 {
  padding-top: 5px;
  align: right;
}
.phsmall {
  padding-bottom: 20px;
  padding-top: 20px;
}
.imgtext {
  display: block;
  text-align: left;
}
.textleft {
  display: block;
  text-align: center;
}
.inputcolor {
  color: #595959;
  font-style: italic;
}
.footerinput {
  padding-left: 15px;
}
.footersub {
  display: block;
  width: 400px;
  align: left;
}
.footeremail {
  display: block;
  width: 400px;
  align: right;
}
.aboutme {
  display: block;
  text-align: left;
  padding-top: 4px;
}
.h1 {
  padding-top: 20px;
}
.boxleft{
  display: block;
  align="left"
}
.boxcenter{
  display: block;
  align="center"
}
.boxright{
  display: block;
  align="right"
}
.column {
  float: left;
  width: 33.33%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.soundcloud {
  height: 400px;
  width: 500px;
  padding-left: 120px
}
.freesong {
  color: #595959;
  font-style: italic;
  align: center;
}
.fieldname {
  display: block;
  height: 20px;
  width: 250px;
  margin-left: 280px  
}
.submit {
  display: block;
  height: 20px;
  width: 150px;
  padding-left: 10px;
  margin-left: 330px;
}
.terms {
  display: block;
  padding-left: 240px;
  padding-right: 190px;
  font-size: 10px;
}
.message {
  height: 150px;
  width: 200px;
}
.namefield {
  padding-left: 50px;
  margin-left: 50px;
}
*/
